[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clip = {git = "https://github.com/openai/CLIP.git"}
torch = "==1.9.0+cpu"
torchvision = "==0.10.0+cpu"
pillow = ">=8.3.2"

[dev-packages]
pycodestyle = "~=2.7"

[requires]
python_version = "3.8"

[scripts]
build-appimage = "appimage-builder --recipe appimage-builder.yml"
check_style = "pycodestyle ."
check_types = "pyright ."
install_pyright = "npm i -g pyright@1.1.133"
lint = "bash -c 'pipenv run check_style && pipenv run check_types'"
