[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clip = {git = "https://github.com/openai/CLIP.git", ref = "b4ae44927b78d0093b556e3ce43cbdcff422017a"}
torch = {version = "==1.9.0", sys_platform = "!= 'linux'"}
torchvision = {version = "==0.10.0", sys_platform = "!= 'linux'"}
torch_linux = {file = "https://download.pytorch.org/whl/cpu/torch-1.9.0%2Bcpu-cp38-cp38-linux_x86_64.whl", version = "==1.9.0+cpu", sys_platform = "== 'linux'"}
torchvision_linux = {file = "https://download.pytorch.org/whl/cpu/torchvision-0.10.0%2Bcpu-cp38-cp38-linux_x86_64.whl", version = "==0.10.0+cpu", sys_platform = "== 'linux'"}
pillow = ">=9.0.1"
requests = "~=2.26"

[dev-packages]
pycodestyle = "~=2.7"

[requires]
python_version = "3.8"

[scripts]
build-appimage = "appimage-builder --recipe appimage-builder.yml"
check_style = "pycodestyle ."
check_types = "pyright ."
install_pyright = "npm i -g pyright@1.1.185"
lint = "bash -c 'pipenv run check_style && pipenv run check_types'"
