name: validate

on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Set up Node.js for pyright
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade poetry
          poetry install
          make install-pyright
      - run: make lint-style
      - run: make lint-types

  test:
    strategy:
      matrix:
        python: ['3.8', '3.9', '3.10', '3.11']
        os: ['ubuntu-22.04', 'macos-12.0', 'windows-2022']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade poetry
          poetry install
      - run: make test
